#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	# Copy library files
	install -d $(CURDIR)/debian/network-policy/usr/local/lib/network-policy
	cp -r $(CURDIR)/usr/local/lib/network-policy/*.py \
		$(CURDIR)/debian/network-policy/usr/local/lib/network-policy/
	
	# Copy executables
	install -d $(CURDIR)/debian/network-policy/usr/local/bin
	install -m 0755 $(CURDIR)/usr/local/bin/network-policy-* \
		$(CURDIR)/debian/network-policy/usr/local/bin/
	
	# Copy systemd services
	install -d $(CURDIR)/debian/network-policy/etc/systemd/system
	install -m 0644 $(CURDIR)/etc/systemd/system/*.service \
		$(CURDIR)/debian/network-policy/etc/systemd/system/
	
	# Copy documentation
	install -d $(CURDIR)/debian/network-policy/usr/share/doc/network-policy
	cp -r $(CURDIR)/usr/share/doc/network-policy/* \
		$(CURDIR)/debian/network-policy/usr/share/doc/network-policy/
	
	# Copy additional documentation if exists
	[ -d $(CURDIR)/docs ] && \
		cp -r $(CURDIR)/docs/* \
		$(CURDIR)/debian/network-policy/usr/share/doc/network-policy/ || true

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(CURDIR)/debian/network-policy

override_dh_auto_test:
	# Skip tests for now

.PHONY: override_dh_auto_install override_dh_auto_clean override_dh_auto_test
